div.help-ui {
    left: 20px;
    bottom: 20px;
    padding: 0px 10px;
}

/* Styling for keyboard symbols.
   Copied from the example at https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
   with adapted colors */
div.help-ui kbd {
    background-color: var(--color-primary);
    color: var(--color-foreground);

    border-radius: 3px;
    border: 1px solid var(--color-foreground);
    box-shadow: 0 1px 1px var(--color-foreground), 0 2px 0 0 var(--color-background) inset;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
