.sprotty-node.storage line {
    stroke: black;
    stroke-width: 1;
}

.sprotty-node.storage .select-rect {
    fill: transparent;
}

.sprotty-node.function circle {
    stroke: black;
    stroke-width: 1;
    fill: transparent;
}

.sprotty-node.io rect {
    stroke: black;
    stroke-width: 1;
    fill: transparent;
}

.sprotty-node.selected circle,
.sprotty-node.selected rect,
.sprotty-node.selected line {
    stroke-width: 3;
}

.sprotty-edge {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.sprotty-edge.selected {
    stroke-width: 2;
}

.sprotty-edge path.arrow {
    fill: black;
}

.sprotty-edge > .sprotty-routing-handle {
    fill: black;

    stroke: none;
}

text {
    stroke-width: 0;
    fill: black;
    font-family: sans-serif;
    font-size: 11pt;
    text-anchor: middle;
}

.sprotty-missing {
    stroke-width: 1;
    stroke: #f00;
    fill: #f00;
    font-size: 14pt;
    text-anchor: middle;
}
