.sprotty-node.storage line {
    stroke-width: 1;
    stroke: black;
}

.sprotty-node.function circle {
    stroke: #444;
    stroke-width: 1;
    fill: #eeeeee;
}

text {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-family: sans-serif;
    font-size: 11pt;
    text-anchor: middle;
}
