/* This file contains styling for the node views defined in views.tsx */

/* sprotty-* classes are automatically added by sprotty and the other ones
   are added in the definition inside views.tsx */

/* Nodes */

.sprotty-node.storage line {
    stroke: var(--color-foreground);
    stroke-width: 1;
}

.sprotty-node.storage .select-rect {
    fill: transparent;
}

.sprotty-node.function circle {
    stroke: var(--color-foreground);
    stroke-width: 1;
    fill: transparent;
}

.sprotty-node.io rect {
    stroke: var(--color-foreground);
    stroke-width: 1;
    fill: transparent;
}

.sprotty-node.selected circle,
.sprotty-node.selected rect,
.sprotty-node.selected line {
    stroke-width: 3;
}

/* Edges */

.sprotty-edge {
    stroke: var(--color-foreground);
    fill: none;
    stroke-width: 1;
}

.sprotty-edge.selected {
    stroke-width: 2;
}

.sprotty-edge .arrow {
    fill: var(--color-foreground);
    stroke: none;
}

.sprotty-edge > .sprotty-routing-handle {
    fill: var(--color-foreground);
    stroke: none;
}

/* Misc */

text {
    stroke-width: 0;
    fill: var(--color-foreground);
    font-family: sans-serif;
    font-size: 11pt;
    text-anchor: middle;
}

/* elements with the sprotty-missing class use a node type that has not been registered.
   Because of this sprotty does not know what to do with them and renders their content and specifies them as missing.
   To make these errors very visible we make them red here.
   Ideally a user should never see this. */
.sprotty-missing {
    stroke-width: 1;
    stroke: var(--color-error);
    fill: var(--color-error);
    font-size: 14pt;
    text-anchor: middle;
}
