/* Overrides for sprotty command palette css (should be imported in commandPalette.ts before this .css file */
.command-palette {
    transition: opacity 0.2s ease-in-out;
}

.command-palette-suggestions {
    /* FIXME: no important please */
    top: 50px !important;
    left: 0 !important;
}
