/* Overrides for sprotty command palette css (should be imported in commandPalette.ts before this .css file */
.command-palette {
    transition: opacity 0.2s ease-in-out;
}

div.autocomplete.command-palette-suggestions {
    /* sprotty sets the position using inline style tags. */
    /* The only way to override this is to use !important */
    top: 50px !important;
    left: 0px !important;
}
