.tool-palette {
    position: absolute;
    margin-top: 40px;
    right: 40px;
    padding: 3px;
    border-radius: 10px;
    background-color: var(--color-primary);

    /* Make text of the elements non-selectable */
    -webkit-user-select: none; /* Safari only supports user select using the -webkit prefix */
    user-select: none;

    /* grid layout (two tools per row) */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tool-palette .tool {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

.tool-palette .tool svg line {
    stroke: var(--color-foreground);
}
.tool-palette .tool svg marker {
    fill: var(--color-foreground);
}

.tool-palette .tool svg rect,
.tool-palette .tool svg circle {
    stroke: var(--color-foreground);
    fill: transparent;
}

.tool-palette .tool svg text {
    fill: var(--color-foreground);
    font-size: 10px;
    font-family: sans-serif;
    text-anchor: middle;
    dominant-baseline: middle;
}

.tool-palette .tool:hover {
    cursor: pointer;
    background-color: var(--color-tool-palette-hover);
}

.tool-palette .tool.active {
    background-color: var(--color-tool-palette-selected);
}
