.tool-palette {
    position: absolute;
    margin-top: 40px;
    right: 40px;
    user-select: none;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 5px;
}

.tool-palette .tool {
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: 5px;
}

.tool-palette .tool svg line {
    stroke: var(--color-foreground);
}
.tool-palette .tool svg marker {
    fill: var(--color-foreground);
}

.tool-palette .tool:hover {
    cursor: pointer;
    background-color: var(--color-tool-palette-hover);
}

.tool-palette .tool.active {
    background-color: var(--color-tool-palette-selected);
}
